{% set number=groups['etcd'] | length %}
{
    "CN": "etcd",
    "hosts": [
    {% for ip in groups['etcd'] %}
      {% if loop.index == number %}
          "{{ ip }}"
      {% else %}
          "{{ ip }}",
      {% endif %}
    {% endfor %}
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "CN",
            "L": "BeiJing",
            "ST": "BeiJing"
        }
    ]
}
